html,
body {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* .app__title {
  margin: 0 auto;
  text-align: center;
} */

.app__layout {
  display: flex;
  height: 100vh;
}
