.ai-chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-1);
  box-shadow: -7px 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
}

.ai-chat__header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.ai-chat__title {
  font-size: 1rem;
  text-align: center;
}

.ai-chat__choose-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: transform 0.2s;
}

.ai-chat__choose-button:hover {
  transform: rotate(180deg);
}

.ai-chat__choose-button svg {
  width: 12;
  height: 100%;
}
