.ai-chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-1);
  box-shadow: -7px 0 10px rgba(0, 0, 0, 0.1);
}

.ai-chat__header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.ai-chat__title {
  font-size: 1rem;
  text-align: center;
}

.ai-chat__choose-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 100%;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: transform 0.2s;
  color: #000000;
}

.ai-chat__choose-button:hover {
  border-radius: 30%;
  background-color: rgb(219, 218, 218);
}

.ai-chat__choose-button.clicked svg {
  transform: rotate(180deg);
}

.ai-chat__choose-button svg {
  width: 8px;
  height: 4px;
  cursor: pointer;
}

.ai-chat__history {
  display: flex;
  gap: 10px;
}
